body {
  font-family: "Merriweather", serif;
  color: #003049;
  margin: 5%;
}
h1 {
  font-weight: 500;
}

ul {
  padding: 0;
  margin-bottom: 5px;
}
li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
}

li:first-letter {
  text-transform: uppercase;
}

hr {
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
}

.weather-app {
  border: 1px solid #00669c;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  max-height: 1000px;
  background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
}

.bottom-line {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.search-form {
  margin-bottom: 10px;
}

.btn {
  font-size: 14px;
  text-align: center;
}

.btn .form-control {
  padding: 0 15px;
}

.current-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.current-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.current-temperature .active {
  color: #003049;
  cursor: default;
}

.float-left {
  float: left;
}

.current-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.feel-humidity-wind {
  max-width: 200px;
  margin-right: 0;
}

.weather-forecast {
  margin-top: 17px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.forecast-temp {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
