body {
  font-family: "Merriweather", serif;
  color: #003049;

  margin: 5%;
}
h1 {
  font-weight: 200;
}

ul {
  padding: 0;
  margin-bottom: 5px;
}
li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
}

hr {
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
}

.weather-app {
  border: 1px solid #00669c;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
  max-width: 620px;
  max-height: 1000px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.bottom-line {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.search-form {
  margin-bottom: 10px;
}

.current-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.current-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.float-left {
  float: left;
}

.current-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.precipitation-humidity-wind {
  max-width: 200px;
  margin-right: 0;
}
